.terms-container {
  margin-top: 50px;
}

.about-container {
  margin-top: 50px;
}

.what-is-this {
  color: #337AB7;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
}

.document-input {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px 10px;
  width: 100%;
}

.document-select {
  background-color: white;
  border: 1px solid black;
  color: #337AB7;
  font-size: 16px;
  height: 30px;
  margin-top: 10px;
  width: 100%;
}

.document-submit {
  margin-top: 10px;
}

.about-description {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}
